.m-button {
    display: flex;
    align-items: center;
    background-color: #0FA655;
    border-radius: 4px;
    height: 32px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'OpenSans-Regular';
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    min-width: 100px;
    justify-content: center;
}

    .m-button:hover,.m-button:focus {
        background-color: #2FBE8E;
    }

    .m-button .m-button-icon {
        background-position: center;
    }

    .m-button .m-button-text{
        margin-left: 8px;
    }

.m-second-button {
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 4px;
    height: 32px;
    color: #000000;
    text-align: center;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

    .m-second-button:hover, .m-second-button:focus {
        background-color: #e9ebee;
    }

.m-icon-button {
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    color: #000000;
    padding: 4px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

    .m-icon-button:hover, .m-icon-button:focus {
        background-color: #e9ebee;
    }

    .m-icon-button:disabled {
        opacity: 0.3;
    }